<% @page_title = "ユーザ情報編集" %>

<br>
<%= devise_error_messages! %>
<br>
<div id="UsersEditDiv">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
  <div class="field">
    <%= f.label :icon %><br/>
    <%= image_tag @user.icon.url if @user.icon? %>
    <%= f.file_field :icon %>
    <%= f.hidden_field :icon_cache %>
  </div>
  <br/>

  <table>
    <tr>
      <th><%= f.label :name %></th>
      <td>
        <div class="textfield">
          <%= f.text_field :name, autofocus: true %>
        </div>
        <div class="annotation">
          <p>※20文字以内</p>
        </div>
      </td>
    </tr>
    <tr>
      <th><%= f.label :email %></th>
      <td>
        <div class="textfield">
          <%= f.email_field :email, autofocus: true %>
        </div>
      </td>
    </tr>
    <tr>
      <th><%= f.label :password %></th>
      <td>
        <div class="textfield">
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="annotation">
          <p>※変更しない場合は空白</p>
        </div>
      </td>
    </tr>
    <tr>
      <th><%= f.label :password_confirmation %></th>
      <td>
        <div class="textfield">
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </td>
    </tr>
    <tr>
      <th><%= f.label :current_password %></th>
      <td>
        <div class="textfield">
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
      </td>
    </tr>
  </table>
  <br>
  <div class="actions">
    <%= f.submit "更新", class: "submit__button" %>
  </div>
<% end %>
</div>
