<% @page_title = "ユーザ登録" %>

<br>
<%= devise_error_messages! %>
<br>
<div id="UsersNewDiv">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
    <div class="field">
      <%= f.label :icon %><br>
      <%= image_tag @user.icon.url if @user.icon? %>
      <%= f.file_field :icon %>
      <%= f.hidden_field :icon_cache %>
    </div>

    <table>
      <tr>
        <th><%= f.label :name %></th>
        <td>
          <div class="textfield">
            <%= f.text_field :name, autofocus: true %>
          </div>
          <div class="annotation">
            <p>※20文字以内</p>
          </div>
        </td>
      </tr>
      <tr>
        <th><%= f.label :email %></th>
        <td>
          <div class="textfield">
            <%= f.email_field :email %>
          </div>
        </td>
      </tr>
      <tr>
        <th><%= f.label :password %></th>
        <td>
          <div class="textfield">
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
          <% if @validatable %>
            <div class="annotation">
              <p>※<%= @minimum_password_length %> 文字以上</p>
            </div>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :password_confirmation %></th>
        <td>
          <div class="textfield">
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </td>
      </tr>
    </table>
    <br>
    <div class="actions">
      <%= f.submit "登録", class: "submit__button" %>
    </div>
  <% end %>

  <% #render "devise/shared/links" %>
</div>
