<!DOCTYPE html>
<html ng-app="FVistFoundation">
<head>
<title><%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/header" %>


<div class="main">

  <div id="message">
    <%- if notice %>
      <p class="notice"><%= notice %></p>
    <% end -%>
    <%- if alert %>
      <p class="alert"><%= alert %></p>
    <% end -%>
  </div>

  <div id="main__title">
    <%= @page_title %>
  </div>
  <%= yield %>
</div><!--main-->

<%= render "shared/footer" %>
</body>
</html>
